/* Giphy Dance Search css */

h1{
    color:rgb(91, 145, 91);
}
body{
    height: 100%;
    background-color: rgb(255, 246, 192);
}
.giphyGif{
    border: 5px solid #7f8081;
}

p{
    font-weight: bold;
    font-size: 18px;
}

.content{
    
    margin-bottom: -50px;
    min-height: calc(100vh - 70px);
}

footer {
    background-color: #a7d8b6;
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 8px;
    margin-top: 20px;
}